@model Solares.Models.Service

@{
    ViewData["Title"] = "Details";
}

<partial name="/Views/Shared/Admin.cshtml" />
<h4 class="justify-content-center align-content-center d-flex">Service Details</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleDe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleDe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionDe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionDe)
        </dd>




        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeIcon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeIcon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdModal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdModal)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
  </div>
        </main>

    </div>
</div>